{%if scontact%}
<div class="container my-5 px-0 z-depth-1">


  <!--Section: Content-->
  <section class="text-center text-lg-left white-text grey p-5"
    style="background-image: url(https://mdbootstrap.com/img/Photos/Others/background2.jpg);">

    <!--Grid row-->
    <div class="row">

      <!--Grid column-->
      <div class="col-md-6 offset-md-2">

          <h3 class="font-weight-bold">{{scontact.header1}}</h3>

          <h5 class="h5">{{scontact.header2}}</h5>

          <p>{{scontact.content}}</p>

          <a href="{%url 'contact'%}" class="btn btn-outline-white btn-md waves-effect" role="button"><i class="fas fa-phone mr-2"></i>Contact</a>

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

  </section>
  <!--Section: Content-->


</div>
{%endif%}